<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="LambdaMicrobenchmarking" version="0.1.1" targetFramework="net451" />
  <package id="MathNet.Numerics" version="3.2.3" targetFramework="net45" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>